
<div class="album py-5 bg-dark">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-3" *ngFor="let hero of Personagem.data.results">
        <div class="card mb-2 shadow-sm">
          <img class="card-img-top" data-src="holder.js/100px225?theme=thumb&amp;bg=55595c&amp;fg=eceeef&amp;text=Thumbnail" alt="Thumbnail [100%x225]" style="height: 225px; width: 100%; display: block;" src={{hero.thumbnail.path}}.{{hero.thumbnail.extension}} data-holder-rendered="true">
          <div class="card-body">
            <h5 class="card-title">{{hero.name | truncate: 16 }}</h5>
            <div class="d-flex justify-content-between align-items-center">
              <div class="btn-group">
                <button type="button" class="btn btn-sm btn-outline-success" (click)="addTimeA(hero)">TIME A ({{timeA.length}})</button>
              </div>
              <div class="btn-group">
                <button type="button" class="btn btn-sm btn-outline-warning" (click)="addTimeB(hero)">TIME B ({{timeB.length}})</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
